<% if (!has_config('comment.app_id') || !has_config('comment.app_key')) { %>
<div class="notification is-danger">
    You forgot to set the <code>appId</code> or <code>appKey</code> for Valine. Please set it in <code>_config.yml</code>.
</div>
<% } else { %>
<div id="valine-thread"></div>
<script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
<script src='//unpkg.com/valine/dist/Valine.min.js'></script>
<script>
    new Valine({
        el: '#valine-thread',
        appId: '<%= get_config('comment.app_id') %>',
        appKey: '<%= get_config('comment.app_key') %>',
        notify: <%= get_config('comment.notify', false) %>,
        verify: <%= get_config('comment.verify', false) %>,
        avatar: '<%= get_config('comment.avatar') %>',
        placeholder: '<%= get_config('comment.placeholder', 'Say something...') %>',
        meta: ['nick', 'mail'],
        visitor: true,
        lang: '<%= get_config('comment.lang') %>'
    })
</script>
<% } %>
