<!DOCTYPE html>
<html>
<head>
    <%- partial('common/head') %>
</head>
<body>
    <%- partial('common/navbar', { page }) %>
    <%- body %>
    <%- partial('common/footer') %>
    <%- partial('common/scripts') %>
</body>
</html>