<!DOCTYPE html>
<html>
<head>
    <%- partial('common/head') %>
</head>
<body>
    <%- partial('common/navbar') %>
    <section class="section">
        <div class="container">
            <%- body %>
        </div>
    </section>
    <%- partial('common/footer') %>
    <%- partial('_partial/after-footer') %>
</body>
</html>